<!DOCTYPE html>
<div class="menu top-menu">
  <!-- Top Menu Content Goes Here -->
</div>
<div class="menu left-menu">
  <div class="logo"></div>
  <div class="sublogo">
    <div class="container">
      <p>Andifes</p>
    </div>
  </div>
  <div class="options">
    <a href="/cadastro_ies/" style="text-decoration: none; color: black;">
      <div class="menu-option">IeS</div>
    </a>
    <a href="/registro_coordenador_administrativo/" style="text-decoration: none; color: black;">
      <div class="menu-option">Coordenador Administrativo</div>
    </a>
    <a href="/insert_professor_ministrante/" style="text-decoration: none; color: black;">
      <div class="menu-option">Professor Ministrante</div>
    </a>
    <a href="/#/" style="text-decoration: none; color: black;">
      <div class="menu-option">Estudante Especialização</div>
    </a>
    <a href="/comp_curriculares/" style="text-decoration: none; color: black;">
      <div class="menu-option">Componente Curricular</div>
    </a>
    <a href="/lista_oferta_coletiva/" style="text-decoration: none; color: black;">
      <div class="menu-option">Oferta Coletiva</div>
    </a>
    <a href="/#/" style="text-decoration: none; color: black;">
      <div class="menu-option">Turma Especialização</div>
    </a>
  </div>
</div>
