<!DOCTYPE html>
<html>
<head>
    <title>Registro de Coordenador Administrativo</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Include Popper.js before Bootstrap's JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'menu.html' %}
    <div class="content">
        <form method="post" action="{% url 'registrar_coordenador_administrativo' %}">
            {% csrf_token %}
            <!-- Registro de Coordenador Administrativo -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Registro de Coordenador Administrativo</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="nome">Função:</label>
                    <input value="{{results.0.1}}" type="text" class="form-control" id="func" name="func">
                </div>
                <div class="col-md-4">
                    <label for="sobrenome">Curriculo:</label>
                    <input value="{{results.0.2}}" type="text" class="form-control" id="curiculo" name="curiculo">
                </div>
                <div class="col-md-4">
                    <label for="cpf">Data Cadastro:</label>
                    <input value="{{results.0.4}}" type="text" class="form-control" id="data" name="poca">
                </div>
                <div class="col-md-4">
                    <label for="data-nascimento">Poca:</label>
                    <input value="{{data}}" type="date" class="form-control" id="poca" name="data">
                </div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </div>
        </form>
        <!-- Success Message -->
        {% if success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}

        <!-- Error Message -->
        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
    </div>
</body>
</html>
